/* Insert your styles here */

.header-top {
    height: 160px;
    background-color: transparent;
    font-size: 30px;
    font-family:sans-serif;
    width: 100%;
    position: relative;
    z-index:9999;
    padding: 0px;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../media/background2.jpg') no-repeat center center fixed; 
    background-size: cover;
    /*align-content: center;*/
}
.header-top a{
    position: absolute;
    left: 46.5%;
}
.header-top div{
    position: absolute;
    left: 46%;
    top:70%;
}
#header-image img{
    height: 120px;
    margin: 10px;
    /*float:center;*/
    /*margin: 8px 20px 10px 15px;*/
}

.nav-top {
	height: 43px;
	/*background-color: #f3f3f3;*/
    /*background-color: #DAA520;*/
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../../media/background2.jpg') no-repeat center center fixed; 
    background-size: cover;
    z-index:9999;
    padding: 0px;
}

.nav-top img{
    height: 60px;
    width:60px;
    opacity:0.5;
    display:block;
    bottom:20px;
    /*right:1px!important;*/
    right: 20px;

    position:fixed;
    z-index:999;
}
.nav-top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    overflow: hidden;
}

.nav-top ul li{
    float:left;   
    text-align:center;   
    width:120px;      
    padding: 0;
}

.nav-top ul li a{
    display:block;           
    line-height:40px;         
    color:black;        
    text-decoration:none; 
    height: 43px;  
    padding: auto 0;
    color:white;
}

.nav-top li:hover {
    background-color:#E4E4E4;
}

.about-area{
    position: relative;
    min-height: 270px;
    overflow: hidden;
    padding:20px 20px 20px 20px;
    /*background-color: yellow;*/
} 

.about-text{
    width: 400px;
    text-align: left;
    float:left;
    padding-left: 25px;
}

.about-area img{
    height: 270px;
    float:left;
    padding: 20px 20px 10px 20px;
}


.price-area{
    display:block; 
    color: white;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../media/background2.jpg') no-repeat center center fixed; 
    background-size: cover;
    z-index: 1;
    min-height: 300px;
    padding:20px 20px 20px 20px;
    /*margin:20px 0 20px 0;*/
    text-align: left;
} 

.price-area table{
    text-align: center; 
    width:80%;
    height:80%;
    border:1px solid #f3f3f3;
}

.price-area table td{
    border:1px solid #f3f3f3;
}

.price-area div{
    padding-left: 23px;
}

.showing-area {
    display:inline-block; 
    position: relative;
    /*color: white;*/
   /* background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../media/background2.jpg') no-repeat center center fixed; 
    background-size: cover;*/
    z-index: 1;
    min-height: 420px;
    min-width: 600px;
    padding:20px 20px 20px 20px;
    /*margin:20px 0 20px 0;*/
}


.panel {
    width: 42%;
    border:1px dashed #000;
    height: 330px;
    padding: 20px;
   /* margin-left: 20px;
    margin-top: 20px;*/
    margin: 20px;
    float: left;
    background: white;
}

.panel img{
    height: 100%;
    width: 50%;
    border:1px solid #f3f3f3;
}

.panel-text{
    float: right;
    text-align: center;
    /*border:1px dashed #f3f3f3;*/
    width: 45%;
}

.synopsis-area{
    display:inline-block; 
    position: relative;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../media/background2.jpg') no-repeat center center fixed; 
    background-size: cover;
    min-height: 320px;
    padding:20px 20px 20px 20px;
    text-align: left;
    width: 97%;
}



/*.synopsis-area object{
    height: 300px;
    float:left;
    margin:20px 0 20px 80px;

}*/

.synopsis-area video{
    height: 300px;
    float:left;
    /*margin:20px 0 20px 50px;*/
    margin: 20px;
    padding-left: 200px;
}

/*.panel-text p{
    text-align: left;
}*/

footer{
    padding: 20px;
    color: black;
    background-color: #f3f3f3;
    font-size: 14px;
    text-align: center;
}

.newadd-area{
    display:block; 
    /*color: white;*/
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../media/background2.jpg') no-repeat center center fixed; 
    background-size: cover;
    /*background-color: green;*/
    z-index: 1;
    /*min-height: 200px;*/
    padding:1px;
    /*margin:20px 0 20px 0;*/
    text-align: left;
    height: 310px;
} 

#show-movies{
    /*width:900px;*/
    width: 99%;
    height: 300px; 
    border: 1px solid #000; 
    position: relative; 
    margin: 1px auto; 
    overflow: hidden;
}
#movie-list{
    position: absolute;
    left: 0; 
    top: 0; 
    margin: 0; 
    padding: 0;    
    -webkit-animation: 5s move infinite linear; 
    width: 200%; 
}
#movie-list img{
            width: 400px;
            height: 300px; 
        }

/*@-webkit-keyframes move{
    0% {
          left: 0;
    }
    100% {
          left: -1600px;
    }
}*/
@keyframes move {
    0% {
       left: 0;
    }
    100% {
       left: -600px;
    }
}

#show-movies:hover #movie-list {
    -webkit-animation-play-state: paused; 
